  
     <!-- ABOUT SECTION -->
      <div id="about-section" class="section" >
        <div class="container" >
          
               
            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
                    <h1>Tool Rental</h1>
                    <h5>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </h5>
                </div>
            </div>
           
            
        </div>
    </div>

    <div class="container"  >
        <div class="row main-low-margin text-center" >
                <div class="col-md-4 col-sm-4" >
                <i class="fa fa-shopping-cart fa-5x color-brown"></i>
                <a href="" ng-click="rent()"> <h3> RENT TOOL NOW</h3>  </a>
                  
                   
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>               
                    <div class="col-md-4 col-sm-4" >
                    <i class="fa fa-list-alt fa-5x color-blue"></i>
                     <a href="" ng-click="history()"><h3>YOUR RENTAL HISTORY</h3></a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4" >
                    <i class="fa fa-credit-card fa-5x color-black"></i>
                    <a href="" ng-click="payment()"><h3>YOUR PAYMENT INFO</h3></a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>
    </div>
    <div class="space-bottom"></div>
        <!--END ABOUT SECTION -->