
          <div class="row main-top-margin">
                <div class="col-md-6 col-md-offset-3">

                    <div class="text-center">
                      
                          <i class="fa fa-wrench main-icon"></i>
                              <h2>ANGULAR PROJECT</h2>        
                       
                    </div>
                </div>
            </div>
        
        <div class="text-center">
            <p>Login or Register with:</p>

            <a href=#/login class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="#/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        </div>
